[tool.poetry]
name = "fastapi-view"
version = "0.0.1"
description = ""
authors = ["Sam Yao <turisesonia@gmail.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/turisesonia/fastapi-view.git"
repository = "https://github.com/turisesonia/fastapi-view.git"
keywords = ["Fastapi", "template", "view", "jinja2"]
classifiers = []
# include = ["LICENSE"]

[tool.poetry.dependencies]
python = "^3.8"
fastapi = "^0.70.0"
ujson = "^5.1.0"
Jinja2 = "^3.0.0"

[tool.poetry.dev-dependencies]
black = {version = "^20.8b1", allow-prereleases = true}
pytest = "^6.2.5"
fastapi = "^0.70.0"
requests = "^2.27.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
